@charset "EUC-KR";
.top{
	width: 1140px;
	height: 180px;
	background-color: #F1F0EE;
	position: relative;
	margin: 0 0 20px;
	padding: 0;
}
.comparison1{
	width: 23%;
	padding-bottom: 15px;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}
.plus-btn{
	width: 60px;
	height: 30px;
	display: inline-block;
	margin-top: 40px;
	margin-left: 12px;
	padding: 0;
	float: left;
	position: absolute;
}
.compare{
	width: 60px;
	height: 30px;
	display: inline-block;
	margin-top: 80px;
	margin-left: 12px;
	padding: 0;
	float: left;
	position: absolute;
}
.comparisonSelect1,.comparisonSelect2,.comparisonSelect3,.comparisonSelect4{
	    margin: 24px 7px 15px 7px;
	    padding: 0;
}
.closeComparison{
	width: 100%;
}
.closeComparison .close{
	padding-right: 5px;
}
select{
	width: 100%;
	font-weight: bold;
    border: 2px solid #F1F0EE;
}
.bottom{
	width: 1140px;
	height: 600px;
	margin: 0;
	padding: 0;
}
.close{
	display: inline-block;
	width: 259px;
	float: left;
}
i{
	float: right;
}
.resultPlayer{
	display: inline-block;
    width: 80px;
    margin-right: 2px;
    border: 1px solid gray;
}
.player{
	display: inline-block;
}
#comparisonTable{
	font-weight: bold;
    width: 100%;
    text-align: right;
    padding-right: 3px;
    display: inline-block;
}
#comparisonTable div{
    border-bottom: 1px lightgray dotted;
    text-align: right;
}
#comparisonTable span{
	text-align: right;
}
.player-box1,.player-box2,.player-box3,.player-box4{
	display: inline-block;
    width: 260px;
    padding-right: 1px;
    float: left;
}
.player-info{
	text-align: center;
    width: 100%;
}
.player-info-top{
	text-align: center;
    background-color: #DAD8DA;
    border-radius: 10px 10px 0 0;
    padding-top: 10px;
    padding-bottom: 5px;
}
.player-info-bottom{
	background-color: #F1F1F1;
}
.player-info-left{
	width: 120px;
	height: 150px;
    display: inline-block;
    vertical-align: top;
}
.p-img{
	margin: 10px;
	width: 100px;
	height: 130px;
}
.player-info-right{
	width: 124px;
    display: inline-block;
    vertical-align: top;
}
.t-img{
	margin: 10px;
	margin-bottom: 0;
	border: 1px solid #F1F1F1;
}
.player-info-right div{
	text-align: center;
}
.player-stat{
	display: inline-block;
    text-align: center;
    padding-top: 10px;
    background-color: #F1F1F1;
    width: 100%;
    visibility: visible;
}
.player-stat-box{
	text-align: center;
}
.player-stat-box div{
	border-bottom: 1px solid #F1F1F1;
}
.stat-explanation{
	width: 1140px;
	margin-top: 10px;
	border: 1px solid gray;
	float: left;
}
.stat-explanation th{
	width: 380px;
	font-style: italic;
	text-align: left;
	line-height: normal;
	color: #808080;
	font-weight: normal;
}
.display-none{
	display: none;
}
button{
	background-color: #343a40;
	border: 0;
}