@charset "EUC-KR";
a{
	color: black;
}
.sitename{
	font-size: 50px;
	margin-top: 72px;
}
.sitename,.loginBox{
	width: 300px;
	text-align: center;
	margin-left: calc((100% - 150px) - 50%);
}
.loginBox{
	margin-bottom: 92px;
}
.loginBox div{
	margin: 15px 0;
}
input{
	width: 280px;
	height: 50px;
}
button{
	width: 280px;
	height: 60px;
	background-color: #343a40;
	border: 1px solid;
	color: white;
}
.searchBox div{
	display: inline-block;
}
.searchID{
	border-right: 1px solid #e4e4e5;
	padding-right: 4px;
}