@charset "EUC-KR";
.write{
	font-size: 20px;
	margin: 15px 0;
}
.middle{
	margin-bottom: 50px;
}
.form-group{
	margin-bottom: 0;
}
.writer{
	width: 100px;
	text-align: center;
	background-color: #f8f9fa;
	float: left;
	line-height: 28px;
	margin-bottom: 0;
	border-top: 1px solid #dee2e6;
}
#writer{
	width: 1009px;
	float: left;
	padding-left: 3px;
	line-height: 28px;
	border: none;
	border-top: 1px solid #dee2e6;
}
.title{
	width: 100px;
	text-align: center;
	background-color: #f8f9fa;
	float: left;
	line-height: 28px;
	margin-bottom: 0;
	border-top: 1px solid #dee2e6;
	border-bottom: 1px solid #dee2e6;
}
#title{
	width: 1009px;
	float: left;
	padding-left: 3px;
	line-height: 28px;
	border: none;
	border-top: 1px solid #dee2e6;
	border-bottom: 1px solid #dee2e6;
}
#summernote{
	height: 500px;
	border-radius: 0;
}
form div:nth-child(2){
	text-align: center;
}
.note-editing-area{
	text-align: left;
}
a button,form>button{
	margin: 5 0 5 5px;
	padding: 5 15px;
	width: 80px;
	float: right;
}
button:after{
	clear: both;
	content: "";
	display: block;
}
