@charset "EUC-KR";
.top{
	font-size: 20px;
	font: bold;
	text-align: center;
	margin: 20px 0 30px;
}
.row{
	margin-bottom: 20px;
	margin-right: 0;
}
.row label{
	margin-right: 15px;
}
.row button{
	margin-left: 10px;
	padding: 0 10px;
}
.row.sign button{
	width: 100px;
	padding: 10px 0;
}
.name{
	margin: 0 20px 0 250px;
	line-height: 35px;
}
.writer{
	margin: 0 20px 0 250px;
	line-height: 35px;
}
.identity1{
	margin: 0 20px 0 237px;
	line-height: 35px;
}
.condition{
	margin: 5px 0 0 290px;
	font-size: 10px;
	color: #0078FF;
}
.password1{
	margin: 0 20px 0 195px;
	line-height: 35px;
}
.row:nth-child(2) .condition{
	width: 400px;
}
.password3{
	margin: 0 20px 0 208px;
	line-height: 35px;
}
.password5{
	margin: 0 20px 0 195px;
	line-height: 35px;
}
.line{
	line-height: 35px;
	margin: 0 5px;
}
.gender1{
	margin: 0 20px 0 250px;
	line-height: 35px;
}
.gender2{
	width: 500px;
	display: inline-block;
}
.gender3{
	margin: 0 10px 0 0;
	line-height: 35px;
}
.gender2 input{
	width: 10px;
	vertical-align: middle;
	margin-right: 20px;
}
.phone{
	margin: 0 20px 0 224px;
	line-height: 35px;
}
.mail1{
	margin: 0 20px 0 237px;
	line-height: 35px;
}
.auth{
	margin: 0 20px 0 250px;
	line-height: 35px;
}
.sign{
	padding-left: 420px;
}
.sign button{
	color: white;
}
input{
	width: 400px;
}
.none{
	display: none;
}